<!-- <button class="btn btn-primary cursor_pointer" data-toggle="modal" data-target="#relax">
    Button </button> -->
<!-- <div class="modal fade auth_pup" id="signup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"> -->
<div class="modal-body" *ngIf="isOpenDialog">

    <div class="popu_mn popu_mn_cmn">
        <div class="popu_lft">
            <figure class="text-center">
                <img loading="lazy" src="/assets/images/auth/cret_acc.jpg " alt="Images" class="img-fluid">
            </figure>
        </div>
        <div class="popu_rgt popu_rgt_cmmn">
            <div class="popu_rgt_inn">
                <div class="back_arr">
                    <img loading="lazy" src="/assets/images/back_aow.svg " alt="Images" class="img-fluid">
                </div>

                <h2>Create an Account</h2>
                <p class="sub_txt"> We just need some more information.</p>
                <form>
                    <div class="form-group">
                        <label for="phone">Phone Number</label>
                        <input type="text" class="form-control" placeholder="+91 9876543210" id="phone">
                    </div>
                    <div class="form-group sng_psw">
                        <label for="pwd_new">Password</label>
                        <div class="psw_cls">
                            <input type="password" class="form-control" placeholder="Password" id="pwd_new">
                            <img loading="lazy" src="/assets/images/eye_psw.svg " alt="Images" class="img-fluid">  
                        </div>
                    </div>
                    <div class="form-group sng_psw">
                        <label for="pwd_con">Confirm Password</label>
                        <div class="psw_cls">
                            <input type="password" class="form-control" placeholder="Password" id="pwd_con">
                            <img loading="lazy" src="/assets/images/eye_psw.svg " alt="Images" class="img-fluid">  
                        </div>
                    </div>

                    <div class="btn_commn">
                        <!-- <button type="submit" class="btn btn-primary" rel="" routerLink="../profilesetup" data-toggle="modal" data-target="#profilesetup">Sign up</button> -->
                        <a href="javascript:void(0)" class="btn btn-primary" (click)="openSigUp()">Sign up</a>
                        <p class="cnt-txt"><a href="javascript:void(0)">Sign up with email</a></p>
                    </div>



                </form>

            </div>
            <div class="pop_sng_bt cret_acc_bt">
                <p> Already have an account?
                    <a href="javascript:void(0)" (click)="openLogin() "> Sign in</a> </p>
            </div>
        </div>


    </div>

</div>
<!-- </div>
        </div>
    </div>  -->