<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
            <h1>Bidding</h1>

        </div>
    </div>
</section>
<section class="bidding_sec">
    <div class="conta_iner">
        <div class="bidding_inner">
            <div class="bidding_lft">
                <figure>
                    <img src="/assets/images/bar_bdd.png " alt="Logo" class="img-fluid">
                </figure>
                <div class="biddg_flx">
                    <h2>Range Rover </h2>
                    <p>$1500.00</p>
                </div>
                <p class="biddg_dic">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                <h3>Specification</h3>
                <div class="biddg_lst">
                    <ul>
                        <li><span>Year</span> <span>: 2021</span></li>
                        <li><span>Fuel</span> <span>: Petrol</span></li>
                        <li><span>Transmission</span> <span>: Auto</span></li>
                        <li><span>Color</span> <span>: White</span></li>
                    </ul>
                    <ul>
                        <li><span>Mileage</span> <span>: 31,500</span></li>
                        <li><span>Engine</span> <span>: 900 cm3</span></li>
                        <li><span>Odometer</span> <span>: 130mph</span></li>
                        <li><span>Condition</span> <span>: New</span></li>
                    </ul>
                    <div class="bdd_bt">
                        <p>Your Offer</p>
                        <p class="pric_bt"><b>$300</b></p>
                    </div>
                </div>
            </div>
            <div class="bidding_rgt">
                <div class="bidding_rgt_inn bdd_buy">
                    <div class="biddg_flx">
                        <h2>Your Offer </h2><span>02h 01m 45s</span>
                    </div>
                    <div class="enter_amu ">
                        <span>$300+</span>

                    </div>
                    <div class="bdd_btn">
                        <button type="submit" class="btn btn-primary" routerLink="../biddingcongratulations">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>