<div class="pop_up " *ngIf="type == 1">
    <div class="ym_gtstr_skp">
    </div>
    <div class="prep_login  ">
      <div class="ym_gtstr_btm forget_pass">
        <h4>Reset Password</h4>
        <figure class="mb-4">
          <img src="assets/images/forget.png" alt="" />
        </figure>
        <div class="ym_gtstr_imgs">
          <form [formGroup]="form">
            <div class="continue_logn">
              <input type="password" placeholder="Enter New Password" formControlName="newPassword" class="form_control" />
              <div class="error" *ngIf="submitted">
                <app-validator [control]="f['newPassword']"></app-validator>
            </div>
            </div>
            <div class="continue_logn">
              <input type="password" placeholder="Confirm New Password" formControlName="password"  class="form_control" />
              <div class="error" *ngIf="submitted">
                <app-validator [control]="f['password']"></app-validator>
                <div class="error" style="color: red;" *ngIf="form.controls['confirmPassword'].hasError('mustMatch')">Password and confirm password must match.</div>
            </div>
            </div>
            <button class="btn btn-secondary width-100" (click)="reset()">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div> 