
    <div class="modal fade auth_pup" id="verification" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                        
                    <div class="popu_mn">
                        <div class="popu_lft">
                            <figure class="text-center">
                                <img src="/assets/images/auth/verify.jpg " alt="Images" class="img-fluid">
                            </figure>
                         </div>
                        <div class="popu_rgt">
                            <div class="back_arr">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </div>
                            <h2>Verification</h2>
                            <p class="sub_txt">Enter the Email associated with your account to<span class="blk"> reset your password.</span> </p>
                            <form action="" class="frgt_psw">
                                <div class="verif_otp">
                                    <span>8</span>
                                    <span>3</span>
                                    <span>2</span>
                                    <span>1</span>
                                </div>
                                <div class="btn_commn">
                                       <button type="submit" class="btn btn-primary"   routerLink="../setpassword"  data-toggle="modal" data-target="#setpassword">Next</button>
                                       <p class="cnt-txt"><a href="#" >Resend</a></p>
                                 </div>
                              </form>


                        </div>


                    </div>
                        
                </div>
            </div>
        </div>
    </div> 