<div class="conta_iner">
    <div class="profile_setup">   
        <div class=" profile_heading ym_gtstr_skp">
            <h4>Profile Setup</h4>
          </div>
          
        <div class="basic_up">
            <div class="profile_upload_img">
                <figure>
                    <img src="assets/images/profile-setup.png" alt="">
                </figure>
                <div class="upload_img">
                    <input type="file" name="file" id="wizard-picture" aria-invalid="false" class="valid"
                        accept="image/*" />
                    <span><img src="assets/images/choose.png" alt=""></span>
                </div>
    
            </div>
        </div>
        <div class="continue_logn">
            <input type="text" placeholder="First Name" class="form_control" />
        </div>
        <div class="continue_logn">
            <input type="text" placeholder="Last Name" class="form_control" />
        </div>
        <div class="continue_logn">
            <input type="email"  placeholder="Phone " class="form_control" />
        </div>
        <div class="continue_logn">
            <input type="email"  placeholder="Email " class="form_control" />
        </div>
        <div class="continue_logn">
            <input type="date" class="form_control" placeholder="Date of birth">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <div class="continue_logn">
            <select id="inputState" class="form_control">
                <option selected>Gender</option>
                <option selected>Male</option>
                <option selected>Female</option>
            
            </select>
        </div>
      
      <div class="profile_btn">   
        <button class="btn btn-secondary w-25 p-3" >Update</button>
      </div>
    </div>
</div>

