<!-- work Skills -->
<div class="pop_up ">
    <div class="profile_setup">


        <div class=" profile_heading ym_gtstr_skp">
            <div></div>
            <h4>Profile Setup</h4>
            <button type="button" (click)="Close()">X</button>
        </div>

        <h5 class="academic">Add Skills</h5>

        <div class="continue_logn skill_input">
            <input type="search" placeholder="Search for Keywords..." class="form_control" />
        </div>
         <div class="addskills mb-2">
             <div class="skills">
                 <h4>Cooking</h4>
                 <button type="button" (click)="Close()">X</button>
             </div>
             <div class="skills">
                <h4>Cooking</h4>
                <button type="button" (click)="Close()">X</button>
            </div>
            <div class="skills">
                <h4>Cooking</h4>
                <button type="button" (click)="Close()" >X</button>
            </div>
         </div>



        
         <h5 class="academic"> Specialization</h5>
        <div class="continue_logn skill_input">
            <input type="text" placeholder="Role/Position " class="form_control" />
        </div>
        <div class="addskills mb-4">
            <div class="skills">
        
                <h4>Cooking</h4>
                <button type="button" (click)="Close()">X</button>
            </div>
            <div class="skills">
               <h4>Cooking</h4>
               <button type="button" (click)="Close()">X</button>
           </div>
           <div class="skills">
               <h4>Cooking</h4>
               <button type="button" (click)="Close()" >X</button>
           </div>
        </div>
    

        <button class="btn btn-secondary w-100 p-3" (click)="onSubmit()">Next</button>
    </div>

</div>