<!-- Email Verification -->


<div class="pop_up ">
    <div class="ym_gtstr_skp">
        <button type="button" (click)="Close()" class="close">×</button>
    </div>
    <div class="prep_login  ">
        <div class="ym_gtstr_btm forget_pass mail_confirm">
            <h4>Email Verification</h4>
            <p>Please check your email account for
                <span>{{datas?.email}} </span> and click the
                “verify link inside”
            </p>
            <figure class="mb-4">
                <img src="assets/images/mail_confirm.png" alt="" />
            </figure>


            <button class="btn btn-secondary width-100" (click)="resendEmail()">Resend</button>

        </div>
    </div>
</div>