<div class="app_download_outr">
    <div class="conta_iner">
        <div class="app_download_innner">

            <div class="dwn_left">
                <h2>Download Now!</h2>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                </p>

                <div class="app_store">
                    <figure><img src="assets/images/andr_ico.png" alt="" class="img-fluid" /></figure>
                    <figure> <img src="assets/images/apple_ft.png" alt="" class="img-fluid" /></figure>
                </div>
            </div>
            <div class="dwn_ryt">
                <figure>
                    <img src="assets/images/fot_mobile.png" alt="" />
                </figure>
            </div>
        </div>
    </div>
</div>

<footer class="footer_outr">
    <div class="conta_iner">
        <footer class="footer-element py-equal">
            <div class="footer_block">
                <div class="fotr-logo">
                    <a href="#">
                        <figure class="fototer-logo">
                            <img src="assets/images/white_lodo.png" alt="Logo" class=" logo">
                        </figure>

                    </a>
                </div>
                <div class="fter_main">
                    <div class="footer_inn">
                        <h2>About Us</h2>
                        <div class="about_us" [innerHtml]="cms"></div>
                        <!-- <p>Lorem Ipsum Dolor Sit Amet, Consetetur Sadipscing Elitr, Sed Diam Nonumy Eirmod Tempor Invidunt Ut Labore Et</p> -->
                        <div class="footer_icon">
                            <a href=""> <i class="fa fa-facebook-f"></i></a>
                            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </div>
                    </div>


                    <div class="footer_inn">
                        <h2>Customer Links</h2>
                        <div class="footer_inn_lst">
                            <ul>
                                <li><a routerLink="/main/home"> Home </a></li>
                                <li><a routerLink="/main/cms/aboutUs">About </a></li>
                                <li><a routerLink="/main/mybids"> My Bids</a></li>
                                <li><a routerLink="/main/watchlist">Watchlist</a></li>
                                <li><a routerLink="/main/contact">Contact</a></li>
                                <li><a>FAQ</a></li>
                            </ul>
                            <ul>
                                <li><a routerLink="/main/cms/Privacy">Privacy Policy</a></li>
                                <li><a routerLink="/main/cms/termsAndConditions">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="footer_inn">
                        <h2>Subscribe Newsletter</h2>
                        <p>Get Our Weekly Newsletter For Latest Car News Exclusive Offers And Deals And More.</p>
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Your Email" id="foot_email">
                            </div>
                            <div class="foter_btn">
                                <button type="submit" class="btn btn-primary">SUBSCRIBE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
        <hr class="footr_hr">
        <div class="copyright">
            <p>
                <span></span> © 2021 Hanco - AUTOMOTIVE THEME. ALL RIGHT RESERVED.
            </p>
        </div>
    </div>

</footer>