<!-- work Experience -->
<div class="pop_up "> 
    <div class="profile_setup">        
        <div class=" profile_heading ym_gtstr_skp">
            <div></div>
            <h4>Profile Setup</h4>
            <button type="button" (click)="Close()" class="close">X</button>
        </div>
        <h5 class="academic">Work Experience</h5>               
        <form [formGroup]="form">
            <div formArrayName="ExperienceDetails">
                <div *ngFor="let section of getEducation(form); let i = index">
                    <div class="acdmic_detail">
                        <ng-container *ngIf="section.value.EmployerName">
                        <div class="acdmic">
                                <div class="acdmic_left">
                                    <h4><span></span>{{section?.value?.EmployerName}}</h4>
                                    <p>{{section?.value?.position}}</p>
                                    <p>{{section?.value?.dateStarted | date}} - {{ section.value.dateEnd ? section.value.dateEnd : 'Presently Working'}}</p>
                                </div>
                                
                                <div class="acdmic_ryt" >
                                    <a  data-toggle="collapse" href="#collapseExample{{i}}"><i class="fas fa-pen"></i></a>
                                    <i class="fas fa-trash"></i>
                                </div>
                            </div>                            
                            <h4>Roles & Responsibilities:</h4>
                            <p>- {{section?.value?.responsibilities}} </p>
                            <p></p>
                        </ng-container> 
                    </div>
                    <div id="collapseExample{{i}}" [formGroupName]="i" [ngClass]="section.valid ? 'collapse' : ''">
                        <div class="continue_logn">
                            <input type="text" placeholder="Employer Name " formControlName="EmployerName" class="form_control" />
                        </div>
                        <div class="continue_logn">
                            <input type="text" placeholder="Role/Position " formControlName="position" class="form_control" />
                        </div>
                        <div class="continue_logn">
                            <input type="text" placeholder="Roles and Responsibilities" formControlName="responsibilities" class="form_control" />
                        </div>
                        <h5 class="academic">Time Period</h5>
                        <div class="form-group">
                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" [id]="i" formControlName="currentlyworking" name="example1">
                                <label class="custom-control-label" [for]="i">Currently Working</label>
                            </div>
                        </div>
                        <div class="continue_logn">
                            <input type="date" class="form_control" formControlName="dateStarted"
                                placeholder="Date of birth" />
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                        <div class="continue_logn">
                            <input type="date" class="form_control" formControlName="dateEnd"
                                placeholder="Date of birth" />
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="btn addmore_btn w-100 p-3" (click)="onSubmit('add')">
                    Add More
                </button>
                <button class="btn btn-secondary w-100 p-3" (click)="onSubmit('next')">
                    Next
                </button>
            </div>
        </form>
    </div>
</div>