<div class="pop_up ">
  <div class="ym_gtstr_skp">
    <button type="button" (click)="Close()" class="close">×</button>
  </div>
  <div class="prep_login  ">
    <div class="ym_gtstr_btm forget_pass">
      <h4>Forget Password</h4>
      <p>Enter your registered phone number to reset your account password</p>
      <figure class="mb-4">
        <img src="assets/images/forget.png" alt="" />
      </figure>
      <form [formGroup]="form">
        <div class="ym_gtstr_imgs">
          <div class="continue_logn">
            <input type="text" placeholder="Email / Phone" formControlName="username" class="form_control" />
            <div class="error" *ngIf="submitted">
              <app-validator [control]="f['userName']"></app-validator>
            </div>
          </div>
          <button class="btn btn-secondary width-100" (click)="onSubmit()">Continue</button>
        </div>
      </form>
    </div>
  </div>
</div>
