<!-- <button class="btn btn-primary cursor_pointer" data-toggle="modal" data-target="#profilesetup">
    Button </button> -->
    <div class="modal fade auth_pup" id="profilesetup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                        
                    <div class="popu_mn popu_mn_cmn">
                        <div class="popu_lft">
                            <figure class="text-center">
                                <img src="/assets/images/auth/profile_setup.jpg " alt="Images" class="img-fluid">
                            </figure>
                         </div>
                        <div class="popu_rgt popu_rgt_cmmn">
                            <div class="popu_rgt_inn">
                            <div class="back_arr">
                                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                            </div>
                            <h2>Profile setup</h2>
                            <p class="sub_txt">We just need some more information.</p>
                            <form action="" class="prof_stup">
                                <div class="usr_img">
                                    <img src="/assets/images/auth/user_bg.png " alt="Images" class="img-fluid">
                                    <div class="usr_camra">
                                        <i class="fa fa-camera" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="user_type">User Type</label>
                                    <select class="form-control" id="user_type">
                                      <option>1</option>
                                      <option>2</option>
                                      <option>3</option>
                                    </select>
                                  </div>
                                  <div class="prfsp">
                                    <div class="form-group">
                                        <label for="f_name">First Name</label>
                                        <input type="text" class="form-control" placeholder="Draco" id="f_name">
                                        </div> 
                                        <div class="form-group">
                                            <label for="l_name">Last Name</label>
                                            <input type="text" class="form-control" placeholder="Malfoy" id="l_name">
                                            </div> 
                                   
                                 </div>
                                 
                                 <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" class="form-control" placeholder="Hanco@gmail.com" id="email">
                                    </div> 
                                    <div class="form-group">
                                        <label for="phone">Phone Number</label>
                                        <input type="number" class="form-control" placeholder="+91 9876543210" id="phone">
                                      </div> 
                                      <div class="form-group">
                                        <label for="vat">VAT Registration Number</label>
                                        <input type="number" class="form-control" placeholder="VAT Registration Number" id="vat">
                                      </div> 
                                      <div class="form-group file_up">
                                        <label for="vat">
                                            <img src="/assets/images/auth/Icon_upload.png " alt="Images" class="img-fluid">
                                            <p>Upload Document</p>
                                        </label>
                                        <input type="file" class="form-control"  id="upload">
                                      </div> 
                                        <div class="btn_commn">
                                            <button type="submit" class="btn btn-primary"  routerLink="../Congratulations"  data-toggle="modal" data-target="#Congratulations">Done</button>
                                        </div>
                                 </form>
                                </div>
                                </div>
                             </div>
                    </div>
            </div>
        </div>
    </div> 