<div class="modal-body">
    <div class="popu_mn popu_mn_cmn">
        <div class="popu_lft">
            <figure class="text-center">
                <img src="assets/images/auth/profile_setup.jpg " alt="Images" class="img-fluid">
            </figure>
        </div>
        <div class="popu_rgt popu_rgt_cmmn">
            <div class="popu_rgt_inn prfle_stup">
                <div class="back_arr">
                    <img src="assets/images/back_aow.svg " alt="Images" class="img-fluid">
                </div>
                <h2>Profile setup</h2>
                <p class="sub_txt">We just need some more information.</p>
                <form [formGroup]="profileForm" class="prof_stup">
                    <div class="usr_img">
                        <input type="file" id="myfile" name="myfile" (change)="onFileChanged($event)" />
                        <img [src]="profileForm?.value?.image || 'assets/images/auth/user_bg.png' " alt="Images" class="img-fluid">
                        <div class="usr_camra" #myfile.click()>
                            <i class="fa fa-camera" aria-hidden="true">
                            </i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="user_type">User Type</label>
                        <div class="psw_cls">
                            <select class="form-control" id="user_type" (change)="updateUser($event)">
                        <option [value]="1" >Individual</option>
                        <option [value]="2">Corporate</option>
                      </select>
                            <i class="fa fa-caret-down"></i>
                        </div>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.userType.hasError('required') && submitted">
                            User Type is required
                        </mat-error>
                    </div>
                    <div class="prfsp">
                        <div class="form-group">
                            <label for="f_name">First Name</label>
                            <input type="text" class="form-control" placeholder="Draco" #firstName (keydown.space)="!firstName.value?$event.preventDefault():null" minlength="3" maxlength="15" formControlName="firstName" id="f_name">
                            <mat-error *ngIf="f.firstName.hasError('required') && submitted">
                                First name is required
                            </mat-error>
                            <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.firstName.errors?.minlength && submitted">
                                first name must have at least 3 characters
                            </mat-error>
                            <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.firstName.errors?.maxlength && submitted">
                                first name must have at most 15 characters
                            </mat-error>
                        </div>
                        <div class="form-group">
                            <label for="l_name">Last Name</label>
                            <input type="text" class="form-control" #lastName (keydown.space)="!lastName.value?$event.preventDefault():null" minlength="3" maxlength="15" formControlName="lastName" placeholder="Malfoy" id="l_name">
                            <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.lastName.hasError('required') && submitted">
                                Last name is required
                            </mat-error>
                            <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.lastName.errors?.minlength && submitted">
                                Last name must have at least 3 characters
                            </mat-error>
                            <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.lastName.errors?.maxlength && submitted">
                                Last name must have at most 15 characters
                            </mat-error>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" matInput class="form-control" #email (keydown.space)="!email.value?$event.preventDefault():null" formControlName="email" placeholder="Hanco@gmail.com" id="email">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.email.hasError('required') && submitted">
                            Email Address is required
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.email.errors?.pattern && submitted">
                            Email Address is invalid
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="phone">Phone Number</label> <br>
                        <!-- <input type="text" class="form-control" placeholder="+91 9876543210" id="phone"> -->
                        <ngx-intl-tel-input matInput cssClass="form-control" [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [selectFirstCountry]="false" [selectedCountryISO]="CountryISO.India" [maxLength]="'15'" [phoneValidation]="true" [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phoneNo" formControlName="phoneNo">
                        </ngx-intl-tel-input> <br>
                        <mat-error *ngIf="submitted && f['phoneNo'].touched && f['phoneNo'].invalid && !(f['phoneNo'].hasError('required'))" class="text-danger d-inline-block pt-1">
                            Phone No is Invalid
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="submitted  && f['phoneNo'].hasError('required')">
                            Phone No is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="l_name">Date of Birth</label>
                        <input type="date" matInput [max]="todayDate" class="form-control" formControlName="birthDate" placeholder="Birth Date" id="birthDate">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.birthDate.hasError('required') && submitted">
                            Date of Birth is required
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.birthDate.hasError('invalid') && submitted">
                            Date of Birth is invalid
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="l_name">Customer ID (Resident or National ID)</label>
                        <input type="text" class="form-control" formControlName="customerId" #customerId (keydown.space)="!customerId.value?$event.preventDefault():null" minlength="7" maxlength="15" placeholder="Customer ID (Resident or National ID)" id="resident">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.customerId.hasError('required') && submitted">
                            Customer ID is required
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.customerId.errors?.minlength && submitted">
                            Customer ID must have at least 7 characters
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.customerId.errors?.maxlength && submitted">
                            Customer ID must have at most 15 characters
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="l_name">Customer Id Expire Date</label>
                        <input type="date" matInput [min]="todayDate" class="form-control" formControlName="customerIdExpDate" placeholder="Birth Date" id="customerIdExpDate">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.customerIdExpDate.hasError('required') && submitted">
                            Customer Id Expire Date is required
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.customerIdExpDate.hasError('invalid') && submitted">
                            Customer Id Expire Date is invalid
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="l_name">Address line 1</label>
                        <input type="text" class="form-control" (change)="onInputChange($event)" ngx-google-places-autocomplete #placesRef="ngx-places" (onAddressChange)="AddressChange($event)" formControlName="address1" placeholder="Address" id="address1">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.address1.hasError('required') && submitted">
                            Address line 1 is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="l_name">Address line 2</label>
                        <input type="text" class="form-control" formControlName="address2" placeholder="Address" id="address2">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.address2.hasError('required') && submitted">
                            Address line 2 is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="l_name">City</label>
                        <input type="text" class="form-control" formControlName="city" placeholder="City" id="city">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.city.hasError('required') && submitted">
                            City is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="l_name">State</label>
                        <input type="text" class="form-control" formControlName="state" placeholder="State" id="state">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.state.hasError('required') && submitted">
                            State is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="l_name">Country</label>
                        <input type="text" class="form-control" formControlName="country" placeholder="Country" id="country">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.country.hasError('required') && submitted">
                            Country is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="phone">PinCode/ZipCode</label>
                        <input type="text" class="form-control" formControlName="pinCode" placeholder="Pincode/Zipcode" id="pincode">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.pinCode.hasError('required') && submitted">
                            PinCode is required
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <label for="user_type">Nationality</label>
                        <!-- <select class="form-control" id="user_type">
                            <option>Arabic</option>
                            <option>america</option>>
                          </select> -->
                        <input type="text" class="form-control" formControlName="nationality" placeholder="Nationality" id="nationality">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.nationality.hasError('required') && submitted">
                            Nationality is required
                        </mat-error>
                    </div>
                    <div class="form-group" *ngIf="userTypeValue==1">
                        <label for="license">License</label>
                        <input type="text" class="form-control" formControlName="license" placeholder="license" id="license">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.license.hasError('required') && submitted">
                            License is required
                        </mat-error>
                    </div>
                    <div class="form-group" *ngIf="userTypeValue==1">
                        <label for="l_name">License Expire Date</label>
                        <input type="date" matInput [min]="todayDate" class="form-control" formControlName="licenseExpDate" placeholder="Birth Date" id="licenseExpDate">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.licenseExpDate.hasError('required') && submitted">
                            License Expire Date is required
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.licenseExpDate.hasError('invalid') && submitted">
                            License Expire Date is invalid
                        </mat-error>
                    </div>
                    <div class="form-group" *ngIf="userTypeValue==2">
                        <label for="vat">VAT Registration Number</label>
                        <input type="text" class="form-control" formControlName="vatRegistrationNo" placeholder="VAT Registration Number" id="vat">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.vatRegistrationNo.hasError('required') && submitted">
                            VAT Registration Number is required
                        </mat-error>
                    </div>
                    <div class="form-group" *ngIf="userTypeValue==2">
                        <label for="cr_no">CR Number</label>
                        <input type="text" class="form-control" formControlName="crNumber" placeholder="CR Number" id="cr_no">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.crNumber.hasError('required') && submitted">
                            CR Number is required
                        </mat-error>
                    </div>
                    <div class="form-group file_up">

                        <h2>Upload Documents</h2>
                        <p class="sub_txt">Customer ID(National or Regional ID)(Front and Back) </p>
                        <div class="fle_upld_mn">
                            <div class="fle_upld">
                                <label for="vat">
                                    <i class="fa fa-plus" *ngIf="!customerFront" aria-hidden="true"></i>
                                    <img *ngIf="customerFront" [src]="customerFront" alt="">
                            </label>
                                <input type="file" class="form-control" id="upload" (change)="onFileChanged1($event,'customerFront')">
                            </div>
                            <div class="fle_upld">
                                <label for="vat">
                                    <i class="fa fa-plus" *ngIf="!customerBack" aria-hidden="true"></i>
                                    <img *ngIf="customerBack" [src]="customerBack" alt="">
                            </label>
                                <input type="file" class="form-control" id="upload" (change)="onFileChanged1($event,'customerBack')">
                            </div>
                        </div>
                        <div class="fle_upld_mn" *ngIf="userTypeValue==2">
                            <p class="sub_txt">VAT </p>
                            <div class="fle_upld">
                                <label for="vat">
                                    <i class="fa fa-plus" *ngIf="!vatFront" aria-hidden="true"></i>
                                    <img *ngIf="vatFront" [src]="vatFront" alt="">
                            </label>
                                <input type="file" class="form-control" id="upload" (change)="onFileChanged1($event,'vatFront')">
                            </div>
                        </div>
                        <div class="fle_upld_mn" *ngIf="userTypeValue==2">
                            <p class="sub_txt">CR </p>
                            <div class="fle_upld">
                                <label for="vat">
                                    <i class="fa fa-plus" *ngIf="!crFront" aria-hidden="true"></i>
                                    <img *ngIf="crFront" [src]="crFront" alt="">
                            </label>
                                <input type="file" class="form-control" id="upload" (change)="onFileChanged1($event,'crFront')">
                            </div>
                        </div>
                        <div class="fle_upld_mn" *ngIf="userTypeValue==1">
                            <p class="sub_txt">License(Front and Back) </p>
                            <div class="fle_upld">
                                <label for="vat">
                                    <i class="fa fa-plus" *ngIf="!licenseFront" aria-hidden="true"></i>
                                    <img *ngIf="licenseFront" [src]="licenseFront" alt="">
                            </label>
                                <input type="file" class="form-control" id="upload" (change)="onFileChanged1($event,'licenseFront')">
                            </div>
                            <div class="fle_upld">
                                <label for="vat">
                                    <i class="fa fa-plus" *ngIf="!licenseBack" aria-hidden="true"></i>
                                    <img *ngIf="licenseBack" [src]="licenseBack" alt="">
                            </label>
                                <input type="file" class="form-control" id="upload" (change)="onFileChanged1($event,'licenseBack')">
                            </div>
                        </div>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.documents.hasError('required') && submitted">
                            Documents are required
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="f.documents.value.length<4 && submitted && !(f.documents.hasError('required'))">
                            Documents are required
                        </mat-error>
                    </div>
                    <div class="btn_commn">
                        <!-- <button type="submit" class="btn btn-primary"  routerLink="../Congratulations"  data-toggle="modal" data-target="#Congratulations">Done</button> -->
                        <a href="javascript:void(0)" class="btn btn-primary" (click)="openCongrats()">Done</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>