<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
            <h1>Offer's</h1>

        </div>
    </div>
</section>
<section class="bidding_sec">
    <div class="conta_iner">
        <div class="bidding_inner">
            <div class="bidding_lft">
                <figure class="fig_img3">
                    <img [src]="productImg || 'assets/images/prod_dtail.png'" alt="">
                    <div class="hurt">
                        <div *ngIf="vechileData?.isFavourite" class="heart_ic"><i class="fa fa-heart" aria-hidden="true"></i></div>
                    </div>
                </figure>
                <div class="biddg_flx">
                    <h2>{{vechileData?.name}} </h2>
                    <p>${{vechileData?.price}}</p>
                </div>
                <p class="about_us biddg_dic">{{vechileData?.description}} </p>
                <h3>Specification</h3>
                <div class="biddg_lst">
                    <ul>
                        <li><span>Year</span> <span>: {{vechileData?.year}}</span></li>
                        <li><span>Fuel</span> <span>: {{vechileData?.fuelType}}</span></li>
                        <li><span>Transmission</span> <span>: {{vechileData?.transmissionType}}</span></li>
                        <li><span>Color</span> <span>: {{vechileData?.color}}</span></li>
                    </ul>
                    <ul>
                        <li><span>Cylinders</span> <span>: {{vechileData?.cylinders}}</span></li>
                        <li><span>Damage</span> <span>: {{vechileData?.damageDetails}}</span></li>
                        <li><span>Body Type</span> <span>: {{vechileData?.bodyType}}</span></li>
                        <li><span>Km Driven</span> <span>: {{vechileData?.kmDriven}} Km</span></li>
                    </ul>
                    <div class="bdd_bt">
                        <p>Your Offer</p>
                        <p class="pric_bt"><b>${{vechileData?.price}}</b></p>
                    </div>
                </div>
            </div>
            <form class="bidding_rgt" [formGroup]="biddingForm">
                <div class="bidding_rgt_inn">
                    <div class="biddg_flx">
                        <h2>We’ll Offer for you, up to </h2>
                        <!-- <span>02h 01m 45s</span> -->
                    </div>

                    <div class="enter_amu">
                        <input type="number" [min]="vechileData?.price" class="form-control" formControlName="offerPrice" placeholder="Enter the bid amount." id="search">
                        <mat-error *ngIf="submitted && biddingForm.controls['offerPrice'].hasError('required')">
                            Offer price is required
                        </mat-error>
                        <mat-error *ngIf="submitted && biddingForm.value.offerPrice<vechileData?.price && !(biddingForm.controls['offerPrice'].hasError('required'))">
                            Offer price should not less than total price
                        </mat-error>
                        <p>Place Offer US ${{vechileData?.price}} or higher</p>
                    </div>
                    <div class="bdd_btn">
                        <!-- <button type="submit" class="btn btn-primary" routerLink="/main/biddingupdate">Place Offer</button> -->
                        <button type="submit" class="btn btn-primary" (click)="addBid()">Place Offer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>