<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
          <h1>Car Details</h1>
        </div>
      </div>
  </section>

  <section class="car_detal_sec">
    <div class="conta_iner">
        <div class="car_detal_inner">
            <div class="car_detal_lft">
                <figure>
                    <img src="/assets/images/car_7.png " alt="Logo" class="img-fluid">
                </figure>
                <div class="car_img_lst">
                    <figure>
                        <img src="/assets/images/car_list.png " alt="Logo" class="img-fluid">
                    </figure>
                    <figure>
                        <img src="/assets/images/car_list.png " alt="Logo" class="img-fluid">
                    </figure>
                    <figure>
                        <img src="/assets/images/car_list.png " alt="Logo" class="img-fluid">
                    </figure>   
                </div>
            </div>
            <div class="car_detal_rgt">
                <h2>Range Rover </h2>
                <p class="buy_prs">$1500.00</p>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor 
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
                     justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem 
                     ipsum dolor sit amet. </p>
                     <h3>Specification</h3>
                     <div class="biddg_lst">
                     <ul>
                         <li><span>Year</span> <span>: 2021</span></li>
                         <li><span>Fuel</span> <span>: Petrol</span></li>
                         <li><span>Transmission</span> <span>: Auto</span></li>
                         <li><span>Color</span> <span>: White</span></li>
                     </ul>
                     <ul>
                         <li><span>Mileage</span> <span>: 31,500</span></li>
                         <li><span>Engine</span> <span>: 900 cm3</span></li>
                         <li><span>Odometer</span> <span>: 130mph</span></li>
                         <li><span>Condition</span> <span>: New</span></li>
                     </ul>
                     <div class="prc_btn">
                        <button type="submit" class="btn clr_btn"   routerLink="/main/bidding">Offer Now</button>
                        <button type="submit" class="btn btn-primary"   routerLink="/main/buynow">Buy Now</button>
                    </div>
                     </div>
            </div>
            <div class="car_detal_bt">
                <h2>Description</h2>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                     labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est 
                    Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy </p>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut 
                        labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores 
                        et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. 
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam  nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos</p>
                </div>
        </div>
      </div>
  </section>