<!-- Apply Job for -->

<div class="job_pop_up ">
    <div class="recommended_jobs">
        <div class="heading_save">
            <p></p>
            <h4>Apply Job for </h4>
            <figure>
                <img src="assets/images/jobsave.png" alt="">
            </figure>
        </div>
        <div class="rmd_jbs">
            <div class="rec_outr">
                <div class="rec_jobs">
                    <div class="recdv">
                        <div class="rec_img d-flex">
                            <figure class="mr-3">
                                <img [src]="jobDetails?.image ? jobDetails?.image : 'assets/images/rec-jobs.png'" alt="" />
                            </figure>
                            <div class="rec_content">
                                <h4>{{jobDetails?.jobType}}</h4>
                                <h3>{{jobDetails?.jobName}}</h3>
                                <p>{{jobDetails?.companyName}}. {{jobDetails?.city}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="rec_rating">
                        <h4><span class="fa fa-star checked"></span>4.3</h4>
                    </div> -->
                </div>
                <div class="salary">
                    <h4>${{jobDetails?.salary}}/Monthly</h4>
                    <p>Posted {{jobDetails?.createdAt | date}}</p>
                </div>
            </div>
        </div>
        <div class="pop_upload_doc">
            <div class="doc_choose">
             <div class="job_doc">
                <figure>
                    <img src="assets/images/upload_doc.svg" alt="">
                    <input type="file" name="file" id="wizard-picture" (change)="onImageSelect($event)" aria-invalid="false" class="valid"
                        accept="image/*" />
                </figure>
             </div>
            </div>
            <p>Attach your Resume (Optional)</p>
        </div>
        <!-- <div class="concern_doc">
            <div class="concern_doc_in">
          <input type="text" placeholder="Add more concern documents/certificates" class="form_control">
            <figure><img src="assets/images/attachment.svg" alt="">
                <input type="file" name="file" id="wizard-picture" aria-invalid="false" class="valid"
                accept="image/*" />
            </figure>
            </div>
        </div> -->
        <div class="job_detail_btn">

            <button class="btn btn-secondary" (click)="applyNow()">Apply now</button>
        </div>

    </div>
</div>

