<!-- Applied Jobs -->

<!-- <div class="job_pop_up ">
    <div class="recommended_jobs">
        <div class="heading_save1">
            <h4>Applied Jobs </h4>
        </div>
        <div class="rmd_jbs">
            <div class="rec_outr">
                <div class="rec_jobs">
                    <div class="recdv">
                        <div class="rec_img d-flex">
                            <figure class="mr-3">
                                <img src="assets/images/rec-jobs.png" alt="" />
                             </figure>
                            <div class="rec_content">
                                <h4>FULLTIME</h4>
                                <h3>UI/UX Designer</h3>
                                <p>Manthul Inc. London</p>
                            </div>
                        </div>
                    </div>
                    <div class="rec_rating">
                        <h4>Applied</h4>
                    </div>
                </div>
              
            </div>
            <div class="rec_outr">
                <div class="rec_jobs">
                    <div class="recdv">
                        <div class="rec_img d-flex">
                            <figure class="mr-3">
                                <img src="assets/images/rec-jobs.png" alt="" />
                            </figure>
                            <div class="rec_content">
                                <h4>FULLTIME</h4>
                                <h3>UI/UX Designer</h3>
                                <p>Manthul Inc. London</p>
                            </div>
                        </div>
                    </div>
                    <div class="rec_rating">
                        <h4>Applied</h4>
                    </div>
                </div>
              
            </div>
            <div class="rec_outr">
                <div class="rec_jobs">
                    <div class="recdv">
                        <div class="rec_img d-flex">
                            <figure class="mr-3">
                                <img src="assets/images/rec-jobs.png" alt="" />
                            </figure>
                            <div class="rec_content">
                                <h4>FULLTIME</h4>
                                <h3>UI/UX Designer</h3>
                                <p>Manthul Inc. London</p>
                            </div>
                        </div>
                    </div>
                    <div class="accepted">
                        <h5>Accepted</h5>
                    </div>
                </div>
              
            </div>
            <div class="rec_outr">
                <div class="rec_jobs">
                    <div class="recdv">
                        <div class="rec_img d-flex">
                            <figure class="mr-3">
                                <img src="assets/images/rec-jobs.png" alt="" />
                            </figure>
                            <div class="rec_content">
                                <h4>FULLTIME</h4>
                                <h3>UI/UX Designer</h3>
                                <p>Manthul Inc. London</p>
                            </div>
                        </div>
                    </div>
                    <div class="accepted">
                        <h5>Accepted</h5>
                    </div>
                </div>
              
            </div>
        </div>


    </div>
</div> -->
