<div class="body_wrap"> 
    <div class="hm_bn">
        <div class="conta_iner hm_bncntn">
            <div class="mn_hd">
                <h1>Thousand Of Educations For People <span class="blk_span">Passionate About Startup</span></h1>
                <!-- <p>Find Your Dream Job Is Now Easier Than Ever You Just Browse And Find Job If You Need It </p> -->
                <div class="glbl_srch">
                    <div class="glbl_srch_in">
                
                            <input type="text" placeholder="Search by education...."  class="form_control">
                       
                        <button class="btn btn-secondary">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>
<div class="jobs_main">
    <div class="conta_iner">
        <div class="jobs_inner">
            <div class="upcoming_articles">
                <div class="upcoming_articles_inner">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#Jobs">Jobs</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#Events">Events</a>
                          </li>
                        <li class="nav-item">
                          <a class="nav-link " data-toggle="tab" href="#Education">Education</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " data-toggle="tab" href="#Blogs">Blogs</a>
                          </li>
                      </ul>
                      
                      <!-- Tab panes -->
                      <!-- <div class="tab-content">
                        <div class="tab-pane active" id="article">
                            <div class="articles_main">
                              
                            </div>
                            <div class="pagination">
                                <pagination [totalItems]="totalItems" [itemsPerPage]="12" [boundaryLinks]="true" [maxSize]="12" [(ngModel)]="currentPage"
                                (pageChanged)="onPageChange($event)"></pagination>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Events">
                            <div class="articles_main">
                                
                            </div>
                            <div class="pagination">
                                <pagination [totalItems]="totalItems1" [itemsPerPage]="12" [boundaryLinks]="true" [maxSize]="12" [(ngModel)]="currentPage1"
                                (pageChanged)="onPageChange1($event)"></pagination>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Education">
                            <div class="articles_main">
                                
                            </div>
                            <div class="pagination">
                                <pagination [totalItems]="totalItems1" [itemsPerPage]="12" [boundaryLinks]="true" [maxSize]="12" [(ngModel)]="currentPage1"
                                (pageChanged)="onPageChange1($event)"></pagination>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="Blogs">
                            <div class="articles_main">
                                
                            </div>
                            <div class="pagination">
                                <pagination [totalItems]="totalItems1" [itemsPerPage]="12" [boundaryLinks]="true" [maxSize]="12" [(ngModel)]="currentPage1"
                                (pageChanged)="onPageChange1($event)"></pagination>
                            </div>
                        </div>
                      </div> -->
                </div>
            </div>

        </div>
    </div>
</div>