<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
          <h1>Payment method</h1>
        </div>
      </div>
  </section>

  <section class="buynow_sec">
    <div class="conta_iner">
        <div class="buynow_inn payment_inner">
         
          <div class="buynow_lft mang_pay">
              <div class="pymnt_txt">
                <h2>Payment method</h2>
                <p><a href="">Add new</a></p>
              </div>
              <div class="pymnt_methd">
                <figure>
                  <img src="/assets/images/paypal.png " alt="images" class="img-fluid">
              </figure>
              <div class="pyt_mthd_inn">
                <h4>Paypal</h4>
                <p>564 *** **** **784</p>
                
              </div>
                <div class="pyt_mthd_rdo">
                  <mat-radio-button value="1"></mat-radio-button>
                </div>
                <div class="trsh">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </div>
              <div class="pymnt_methd active">
                <figure>
                  <img src="/assets/images/mastercard.png " alt="images" class="img-fluid">
              </figure>
              <div class="pyt_mthd_inn">
                <h4>Credit card</h4>
                <p>564 *** **** **784</p>
                
              </div>
                <div class="pyt_mthd_rdo ">
                  <mat-radio-button value="2"></mat-radio-button>
                </div>
                <div class="trsh">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </div>
              <div class="pymnt_methd">
                <figure>
                  <img src="/assets/images/visa.png " alt="images" class="img-fluid">
              </figure>
              <div class="pyt_mthd_inn">
                <h4>Debit card</h4>
                <p>564 *** **** **784</p>
                
              </div>
                <div class="pyt_mthd_rdo">
                  <mat-radio-button value="3"></mat-radio-button>
                </div>
                <div class="trsh">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </div>
              </div>
            
          </div>
          </div>
     
      </div>
  </section>