<div class="pop_up">
    <div class="ym_gtstr_skp">
        <button type="button" (click)="Close()" class="close">×</button>
    </div>

    <div class="prep_login">
        <div class="ym_gtstr_btm">
            <img src="assets/images/login_logo.png" alt="" />
            <h1>Welcome to PREP</h1>
            <p class="text-center">Let's Setup your Account to Continue</p>

            <div class="ym_gtstr_imgs">
                <figure>
                    <div class="social_icon">
                        <img src="assets/images/google.svg" alt="" />
                    </div>
                    <div class="social_icon"> <img src="assets/images/facebook.svg" alt="" /></div>
                    <div class="social_icon"> <img src="assets/images/apple.svg" alt="" /></div>
                </figure>
            </div>
            <form [formGroup]="form">

                <div class="continue_logn">

                    <input type="number" min="0" placeholder="Phone" formControlName="phone" class="form_control" />
                    <div class="error" *ngIf="submitted">
                        <app-validator [control]="f['phone']"></app-validator>
                    </div>
                </div>
                <div class="continue_logn">
                    <input type="text" placeholder="Email" formControlName="email" class="form_control" />
                    <div class="error" *ngIf="submitted">
                        <app-validator [control]="f['email']"></app-validator>
                    </div>
                </div>
                <div class="continue_logn">
                    <input type="password" placeholder="Password" formControlName="password" class="form_control" id="psw" />
                    <div class="absl_div" (click)="togglePassword('psw')"><i [ngClass]="shownPassword ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true"></i></div>
                    <div class="error" *ngIf="submitted">
                        <app-validator [control]="f['password']"></app-validator>
                    </div>
                </div>
                <div class="continue_logn">

                    <input type="password" placeholder="Confirm Password" formControlName="confirmPassword" id="pswd"
                        class="form_control" />
                        <div class="absl_div" (click)="togglePasswordd('pswd')"><i [ngClass]="shownPasswordd ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true"></i></div>
                        <div class="error" *ngIf="submitted">
                        <app-validator [control]="f['confirmPassword']"></app-validator>
                        <div class="error" style="color: red;" *ngIf="form.controls['confirmPassword'].hasError('mustMatch')">Password and confirm password must match.</div>
                    </div>
                </div>
                <button class="btn btn-secondary width-100" (click)="onSubmit()">Sign Up</button>
                <h5>Already have an account? <span (click)='openLogin()'>Login</span></h5>
            </form>
        </div>
    </div>
</div>