    <div class="modal fade auth_pup congratul_main" id="Congratulations" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="popu_mn popu_mn_cmn">
                        <div class="popu_fll">
                                <img src="/assets/images/auth/congra-img.jpg " alt="Images" class="img-fluid">
                                <div class="cong_txt">
                                    <h2>Congratulations!</h2>
                                    <p>Lorem Ipsum is simply dummy text of the printing and 
                                        <span class="blk"> typesetting industry.</span></p>
                                </div>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 