<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
          <h1>Notifications</h1>
        </div>
      </div>
  </section>

  <section class="notofict_sec">
    <div class="conta_iner">
        <div class="notofict_inner">
          <h2>Recent Notifications</h2>
          <div class="notofict_lst">
            <ul>
                <li>
                    <figure>
                        <img src="/assets/images/notific_clr.png " alt="images" class="img-fluid">
                    </figure>
                    <p>Your Bid has been Accepted   <img src="/assets/images/checkicon.png " alt="images" class="img-fluid"></p>
                </li>
                <li>
                    <figure>
                        <img src="/assets/images/notific_clr.png " alt="images" class="img-fluid">
                    </figure>
                    <p>You made $29.05 payment for 
                        Range Rover 2018 Model   <img src="/assets/images/checkicon.png " alt="images" class="img-fluid"></p>
                </li>
                
            </ul>
            
          </div>
        </div>
        <div class="notofict_inner">
            <h2>New Notifications</h2>
            <div class="notofict_lst">
              <ul>
                  <li>
                      <figure>
                          <img src="/assets/images/notific_wht.png " alt="images" class="img-fluid">
                      </figure>
                      <p>Your Bid has been Accepted  <img src="/assets/images/checkicon.png " alt="images" class="img-fluid"></p>
                  </li>
                  <li>
                      <figure>
                          <img src="/assets/images/notific_wht.png " alt="images" class="img-fluid">
                      </figure>
                      <p>You made $29.05 payment for 
                          Range Rover 2018 Model   <img src="/assets/images/checkicon.png " alt="images" class="img-fluid"></p>
                  </li>
                  
              </ul>
              
            </div>
          </div>
      </div>
  </section>