<!-- work Experience 2222-->
<div class="pop_up ">
    <div class="profile_setup">


        <div class=" profile_heading ym_gtstr_skp">
            <div></div>
            <h4>Profile Setup</h4>
            <button type="button" (click)="Close()" class="close">X</button>
        </div>
        <div class="acdmic_detail">
            <div class="acdmic">
                <div class="acdmic_left">
                    <h4><span></span>Apptunix</h4>
                    <p>UI/UX Designer</p>
                    <p>June 2020 - Presently Working</p>
                </div>

                <div class="acdmic_ryt">
                    <i class="fas fa-pen"></i>
                    <i class="fas fa-trash"></i>
                </div>

            </div>
            <h4>Roles & Responsibilities:</h4>
            <p>- Creating User-Centered Designs By Understanding Business Requirements, And User Feedback.</p>
            <p>- Creating User Flows, Wireframes, Prototypes And Mockups.</p>
            <p></p>
        </div>
        <h5 class="academic">Work Experience</h5>

        <div class="continue_logn">
            <input type="text" placeholder="Employer Name " class="form_control" />
        </div>
        <div class="continue_logn">
            <input type="text" placeholder="Role/Position " class="form_control" />
        </div>
        <div class="continue_logn">
            <input type="text" placeholder="Roles and Responsibilities" class="form_control" />
        </div>
        <h5 class="academic">Time Period</h5>
        <div class="form-group">
            <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                <label class="custom-control-label" for="customCheck">Currently Working</label>
            </div>
        </div>
        <div class="educate">
            <div class="continue_logn">
                <input type="date" class="form_control" placeholder="Date of birth">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
            <div class="continue_logn">
                <input type="date" class="form_control" placeholder="Date of birth">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
        <button class="btn addmore_btn w-100 p-3">Add More</button>

        <button class="btn btn-secondary w-100 p-3">Next</button>
    </div>

</div>