<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
            <h1>Profile</h1>
        </div>
    </div>
</section>

<section class="profile_sec">
    <div class="conta_iner">
        <div class="pro_inner">
            <form [formGroup]="changePasswordForm" class="update_pro">
                <div class="form-group">
                    <input type="password" formControlName="oldPassword" class="form-control" placeholder="Current Password" id="cupossword">
                    <mat-error *ngIf="submitted && changePasswordForm.controls['oldPassword'].hasError('required')">Current Password is Required
                    </mat-error>
                </div>
                <div class="form-group">
                    <input type="password" formControlName="newPassword" class="form-control" placeholder="New Password" id="npassword">
                    <mat-error *ngIf="submitted && changePasswordForm.controls['newPassword'].hasError('required')">
                        New Password is Required
                    </mat-error>
                    <mat-error *ngIf="submitted && changePasswordForm.controls['newPassword'].hasError('minlength')">
                        Password should be of minimum 8 characters
                    </mat-error>
                </div>

                <div class="form-group">
                    <input type="password" formControlName="confirmPassword" class="form-control" placeholder="Confirm New Password" id="cpassword">
                    <mat-error *ngIf="submitted && changePasswordForm.controls['confirmPassword'].hasError('required')">
                        Confirm Password is Required
                    </mat-error>
                    <mat-error *ngIf="submitted && changePasswordForm.controls['confirmPassword'].hasError('mustMatch')">
                        New Password and confirm password must match.
                    </mat-error>
                </div>
                <div class="bdd_btn">
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Save</button>
                </div>

            </form>
        </div>
    </div>
</section>