<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
          <h1>Profile</h1>
        </div>
      </div>
  </section>

  <section class="profile_sec">
    <div class="conta_iner">
        <div class="pro_inner">
            <form action="" class="update_pro">
                <div class="form-group">
                <input type="password" class="form-control" placeholder="Current Password" id="c_password">
                </div> 
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Password" id="new_password">
                </div> 
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Re-Enter New Password" id="renew_password">
                </div> 
                <div class="bdd_btn">
                    <button type="submit" class="btn btn-primary" routerLink="../" >Update</button>
                    </div> 
            </form>
        </div>
    </div>
</section>