<div class="body_wrap"> 
    <div class="hm_bn">
        <div class="conta_iner hm_bncntn">
            <div class="mn_hd">
                <h1>Thousand Of Blogs For People <span class="blk_span">Passionate About Startup</span></h1>
                <!-- <p>Find Your Dream Job Is Now Easier Than Ever You Just Browse And Find Job If You Need It </p> -->
                <div class="glbl_srch">
                    <div class="glbl_srch_in">                
                            <input type="text" placeholder="Search by Blogs...." [(ngModel)]="search" (keydown.enter)="getBlogs()" class="form_control">                       
                        <button class="btn btn-secondary" (click)="getBlogs()">Search</button>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
 </div>
<div class="jobs_main">
    <div class="conta_iner">
        <div class="jobs_inner">
            <!-- <div id="accordion" class="accordion">

                <div class="card">
                    <h4>Filter By</h4>
                    <div class="card-header collapsed filtr_check" data-toggle="collapse" href="#collapseOne">
                        <a class="card-title">
                            Job Type
                        </a>
                    </div>
                    <div id="collapseOne" class="card-body collapse Filtr" data-parent="#accordion">


                        <div class="custom-control job custom-checkbox ">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked">
                            <label class="custom-control-label Filtr-lbel " for="defaultUnchecked">IT Services</label>
                        </div>
                        <div class="custom-control  job custom-checkbox ">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked1">
                            <label class="custom-control-label" for="defaultUnchecked">Hospitality</label>
                        </div>
                        <div class="custom-control job custom-checkbox ">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked2">
                            <label class="custom-control-label" for="defaultUnchecked">Restaurants</label>
                        </div>
                    </div>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapseTwo">
                        <a class="card-title">
                            Industry Category
                        </a>
                    </div>
                    <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
                        <div class="custom-control job custom-checkbox">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">IT Services</label>
                        </div>
                        <div class="custom-control job custom-checkbox">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">Hospitality </label>
                        </div>
                        <div class="custom-control job custom-checkbox">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">Restaurants </label>
                        </div>
                        <div class="custom-control job custom-checkbox">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">BPO/KPO </label>
                        </div>
                        <div class="custom-control  job custom-checkbox">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">Banking </label>
                        </div>
                        <div class="custom-control job custom-checkbox">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">Financial Services </label>
                        </div>
                        <div class="custom-control job custom-checkbox">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">Consultancy </label>
                        </div>
                        <div class="custom-control job custom-checkbox">
                            <input type="checkbox" class="custom-control-input chack_hbox" id="defaultUnchecked">
                            <label class="custom-control-label" for="defaultUnchecked">Marketing </label>
                        </div>

                    </div>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapseThree">
                        <a class="card-title">
                            Location
                        </a>
                    </div>
                    <div id="collapseThree" class="card-body collapse" data-parent="#accordion">
                        <div class=" jobsearch">
                            <input type="text" placeholder="Search for cities, states, provinces" class="form_control">
                            <div class="srch_job_ourt">
                                <div class="srch">
                                    <h4>Chandigarh</h4>
                                    <a>X</a>
                                </div>
                                <div class="srch">
                                    <h4>Delhi/NCR</h4>
                                    <a>X</a>
                                </div>
                            </div>
                            <div class="srch_job_ourt">
                                <div class="srch">
                                    <h4>Banglore</h4>
                                    <a>X</a>
                                </div>
                                <div class="srch">
                                    <h4>Hyderabad</h4>
                                    <a>X</a>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion"
                        href="#collapseFour">
                        <a class="card-title">
                            Salary Range
                        </a>
                    </div>
                    <div id="collapseFour" class="collapse" data-parent="#accordion">

                        <input type="range" class="form-range" id="customRange1">

                    </div>

                </div>
            </div> -->
            <div class="upcoming_articles main_art">
                <div class="upcoming_articles_inner">
                    <h4>Popular Blogs</h4>
                            <div class="articles_main">
                                <div class="articles_ryf" *ngFor="let blog of blogs">
                                    <div class="articles_loc" (click)="addBookmark(blog._id,blog.isSaved)">
                                        <h2 [ngClass]="blog.isSaved ? 'active' : ''"><i class="fas fa-bookmark"></i></h2>
                                    </div>                                 
                                    <figure (click)="openDetails(blog)">
                                        <img [src]="blog.image ? blog.image[0] : 'assets/images/event1.png'" alt="">
                                    </figure>
                                    <div class="articles_dfked" (click)="openDetails(blog)">
                                        <div class="articles_cont">
                                            <a href="">{{blog?.name | titlecase}}</a>
                                            <h4>{{blog?.name | titlecase}}</h4>
                                            <p> {{blog.description.length < 200 ? blog.description : (blog.description | slice :0:100) }}</p>
                                        </div>
                                    </div>

                                    <div class="article_profile">
                                        <div class="art_prof">
                                            <figure>
                                                <img src="assets/images/downloadBlog.png" alt="">
                                            </figure>
                                        </div>
                                        <div class="art_content">
                                            <h4>{{blog?.hostName | titlecase}}</h4>
                                            <p>Posted {{blog?.createdAt | date}}</p>
                                        </div>
                                    </div>
                                </div>                                          
                            </div>      
                </div>
            </div>

        </div>
        <div class="pagination text-center">
            <pagination [totalItems]="totalItems" [boundaryLinks]="true" [maxSize]="12" [itemsPerPage]="12" [(ngModel)]="currentPage"
            (pageChanged)="onPageChange($event)"></pagination>
        </div>         
    </div>
</div>