<div class="modal-body">
    <div class="popu_mn popu_mn_cmn">
        <div class="popu_lft">
            <figure class="text-center">
                <img src="assets/images/auth/cret_acc.jpg " alt="Images" class="img-fluid">
            </figure>
        </div>
        <div class="popu_rgt popu_rgt_cmmn">
            <div class="  popu_rgt_inn ">
                <div class="back_arr">
                    <img src="assets/images/back_aow.svg " alt="Images" class="img-fluid">
                </div>

                <h2>Set Password</h2>
                <!-- <p class="sub_txt"> Lorem ipsum dolor sit amet, consetetur sadipscing
                    <span class="blk">  elitr, sed diam nonumy eirmod.</span></p> -->
                <form [formGroup]="setForm">

                    <div class="form-group sng_psw">
                        <label for="pwd_new">New Password</label>
                        <div class="psw_cls">
                            <input type="password" formControlName="password" class="form-control" placeholder="Password" id="pwd_new">
                            <mat-error class="text-danger d-inline-block pt-1" *ngIf="submitted && setForm.controls['password'].hasError('required')">
                                Password is required
                            </mat-error>
                            <mat-error class="text-danger d-inline-block pt-1" *ngIf="submitted && setForm.controls['password'].hasError('minlength')">
                                Password should be of minimum 8 characters
                            </mat-error>
                        </div>
                    </div>
                    <div class="form-group sng_psw">
                        <label for="pwd_con">Confirm New Password</label>
                        <div class="psw_cls">
                            <input type="password" class="form-control" formControlName="cnfpassword" placeholder="Password" id="pwd_con">
                            <mat-error class="text-danger d-inline-block pt-1" *ngIf="submitted && setForm.controls['cnfpassword'].hasError('required')">
                                Confirm Password is required
                            </mat-error>
                            <mat-error class="text-danger d-inline-block pt-1" *ngIf="submitted && setForm.controls['cnfpassword'].hasError('mustMatch')">
                                Password and confirm password must match.
                            </mat-error>
                        </div>
                    </div>

                    <div class="btn_commn">
                        <a href="javascript:void(0)" class="btn btn-primary" (click)="openLogin()">Done</a>
                    </div>

                </form>

            </div>
        </div>


    </div>

</div>