<!-- Job Detail -->

<div class="job_pop_up ">

    <div class="recommended_jobs">
        <div class="heading_save">
            <p></p>
            <h4>Job Detail</h4>
            <figure>
                <div class="articles_loc" (click)="addBookmark(jobDetails._id,jobDetails.isSaved)">
                    <!-- <h2 [ngClass]="jobDetails.isSaved ? 'active' : ''"><i class="fas fa-bookmark"></i></h2> -->
                    <h2 [ngClass]="jobDetails.isSaved ? 'active' : ''"><i class="fas fa-bookmark"></i></h2>
                </div>
                <!-- <img src="assets/images/jobsave.png" alt=""> -->
            </figure>
        </div>
        <div class="rmd_jbs">
            <div class="rec_outr">
                <div class="rec_jobs">
                    <div class="recdv">
                        <div class="rec_img d-flex">
                            <figure class="mr-3">
                                <img [src]="jobDetails?.image ? jobDetails?.image : 'assets/images/rec-jobs.png'" alt="" />
                            </figure>

                            <div class="rec_content">
                                <h4>{{jobDetails?.jobType}}</h4>
                                <h3>{{jobDetails?.jobName}}</h3>
                                <p>{{jobDetails?.companyName}}. {{jobDetails?.city}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="rec_rating">
                        <h4><span class="fa fa-star checked"></span>4.3</h4>
                    </div> -->

                </div>
                <div class="salary">
                    <h4>${{jobDetails?.salary}}/Monthly</h4>
                    <p>Posted {{jobDetails?.createdAt | date}}</p>
                </div>
            </div>
        </div>

        <div class="pop_experince">
            <div class="work_pop hd">
                <figure>
                    <img src="assets/images/job_bag.svg" alt="">
                </figure>
                <h4>Experience : <span>{{jobDetails?.experience}} Years</span></h4>
            </div>
            <div class="work_pop">
                <figure>
                    <img src="assets/images/job_dollor.svg" alt="">
                </figure>
                <h4>Salary : <span>Up to ${{jobDetails?.salary}}</span></h4>
            </div>
            <div class="work_pop">
                <figure>
                    <img src="assets/images/job_pen.svg" alt="">
                </figure>
                <h4>Skills : 
                    <span *ngFor="let skill of jobDetails?.skills">
                        {{skill?.skill}},
                    </span>
            </h4>
            </div>
        </div>
        <div class="pop_job_dicrp">
            <div class="pop_job_dicrp_innr">
                <h4>Job Description</h4>
                <p> {{jobDetails?.jobDescription}}
                </p>
                <h4>Responsibilities</h4>
                <p>{{jobDetails?.responsibilities}}</p>
                <h4>Qualifications</h4>
                <p>{{jobDetails?.qualification}}</p>
                <h4>Education</h4>
                <p>Any Graduate : 
                    <span *ngFor="let edu of jobDetails?.education">
                       {{edu?.education}},
                    </span>
                </p>

            </div>

        </div>
        <div class="pop_employer_detail">
            <h4>Employer Details</h4>
            <p>{{jobDetails?.employerDetail}}</p>
        </div>
        <div class="job_detail_btn" *ngIf="jobDetails?.isApplied">
            <button class="btn">Applied</button>
         </div>
     <div class="job_detail_btn" *ngIf="!jobDetails?.isApplied">
        <button class="btn btn-primary ">Apply with PREP</button>
        <button class="btn btn-secondary " (click)="applyJob()">Apply now</button>
     </div>
    </div>

</div>

