<!-- Education2 modal -->
<div class="pop_up ">
    <div class="profile_setup">
     
        
        <div class=" profile_heading ym_gtstr_skp">
            <div></div>
            <h4>Profile Setup</h4>
            <button type="button" (click)="Close()" class="close">X</button>
          </div>


 <div class="acdmic">
     <div class="acdmic_left">
     <h4><span></span>B.tech (Graduate)</h4>
     <p>2013 - 2016.Computers</p>
     <p>Panjab University</p>
     </div>

     <div class="acdmic_ryt">
        <i class="fas fa-pen"></i>
        <i class="fas fa-trash"></i>
     </div>
 </div>
          
   <h5 class="academic">Academic Experience</h5>
   <div class="continue_logn">
    <select id="inputState" class="form_control">
        <option selected>Level Of Education</option>
        <option selected>Level Of Education</option>
        <option selected>Level Of Education</option>
    
    </select>
</div>
        <div class="continue_logn">
            <input type="text" placeholder="Field of Study " class="form_control" />
        </div>
        <div class="continue_logn">
            <input type="text" placeholder="College/University " class="form_control" />
        </div>
     <div class="educate">
          
        <div class="continue_logn">
            <input type="date" class="form_control" placeholder="Date of birth">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
        <div class="continue_logn">
            <input type="date" class="form_control" placeholder="Date of birth">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-th"></span>
            </div>
        </div>
     </div>
     <button class="btn addmore_btn w-100 p-3" >Add More</button>
       
        <button class="btn btn-secondary w-100 p-3" >Next</button>
    </div>

</div>