<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
          <h1>CARS LISTING</h1>
         
        </div>
      </div>
  </section>
  

  <section class="logo_sec comn_pd car_lst_sec">
    <div class="conta_iner">

                <div class="logo_inner">
                    <div class="flter_lft">
                    <h2>FILTER</h2>
                    <a href=""> SEARCH YOUR CAR</a>
                    </div>
                    <div class="flter_rgt">
                        <a href="">
                        <img src="/assets/images/searchicon.png " alt="Logo" class="img-fluid">
                    </a>
                    </div>
                    </div>
                        <!--  -->
                        <div class="form_sec_inner">
                            <form action="" class="f_form_in car_lsting_fom">
                              <div class="form-group loctin_cls">
                                <div class="psw_cls">
                                  <input type="text" class="form-control" placeholder="Search here..." id="search">
                                
                              </div>
                              </div> 
                              <div class="form-group">
                                <div class="psw_cls">
                                <select class="form-control" id="price">
                                  <option selected>Select Price</option>
                                  <option>100</option>
                                  <option>200</option>
                                  <option>300</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                                </div>
                              </div>
                              <div class="form-group">
                                <div class="psw_cls">
                                <select class="form-control" id="year">
                                  <option selected>Select Brand</option>
                                  <option>Hyundai</option>
                                  <option>Toyota</option>
                                  <option>KIA</option>
                                  <option>Mahindra</option>
                                  <option>Tata Motors</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="psw_cls">
                                <select class="form-control" id="km">
                                  <option selected>Select Model</option>
                                  <option>Hyundai Venue</option>
                                  <option>Tata Punch</option>
                                  <option>Hyundai Creta</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="psw_cls">
                                <select class="form-control" id="km">
                                  <option selected>Select Year</option>
                                  <option>Hyundai Venue</option>
                                  <option>Tata Punch</option>
                                  <option>Hyundai Creta</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="psw_cls">
                                <select class="form-control" id="km">
                                  <option selected>Select KM</option>
                                  <option>Hyundai Venue</option>
                                  <option>Tata Punch</option>
                                  <option>Hyundai Creta</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="psw_cls">
                                <select class="form-control" id="km">
                                  <option selected>Select Body</option>
                                  <option>Hyundai Venue</option>
                                  <option>Tata Punch</option>
                                  <option>Hyundai Creta</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="psw_cls">
                                <select class="form-control" id="km">
                                  <option selected>Any Fuel</option>
                                  <option>Hyundai Venue</option>
                                  <option>Tata Punch</option>
                                  <option>Hyundai Creta</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="psw_cls">
                                <select class="form-control" id="km">
                                  <option selected>Colour</option>
                                  <option>Hyundai Venue</option>
                                  <option>Tata Punch</option>
                                  <option>Hyundai Creta</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                              </div>
                              </div>
                              <div class="form-group">
                                <div class="psw_cls">
                                <select class="form-control" id="km">
                                  <option selected>Transmission</option>
                                  <option>Hyundai Venue</option>
                                  <option>Tata Punch</option>
                                  <option>Hyundai Creta</option>
                                </select>
                                <i class="fa fa-angle-down"></i>
                              </div>
                              </div>
                          </form>
                            </div>
                    <!--  -->


                <div class="d_flex logo_inner">
                    <div class="watch_lst" >
                        <figure  routerLink="/main/cardetails">
                            <img src="/assets/images/car_2.jpg " alt="images" class="img-fluid">
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn"   routerLink="/main/cardetails">Bid Now</button>
                                <button type="submit" class="btn btn-primary"  routerLink="/main/buynow" >Buy Now</button>
                            </div>
                    </div>
                    <div class="watch_lst">
                        <figure   routerLink="/main/cardetails">
                            <img src="/assets/images/car_1.jpg " alt="images" class="img-fluid">
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn"     routerLink="/main/cardetails">Bid Now</button>
                                <button type="submit" class="btn btn-primary"   routerLink="/main/buynow">Buy Now</button>
                            </div>
                    </div>
                    <div class="watch_lst">
                        <figure   routerLink="/main/cardetails">
                            <img src="/assets/images/car_3.jpg " alt="images" class="img-fluid">
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn"    routerLink="/main/cardetails" >Bid Now</button>
                                <button type="submit" class="btn btn-primary"   routerLink="/main/buynow">Buy Now</button>
                            </div>    
                      </div>
                      <div class="watch_lst">
                        <figure   routerLink="/main/cardetails">
                            <img src="/assets/images/car_1.jpg " alt="images" class="img-fluid">
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn"    routerLink="/main/cardetails">Bid Now</button>
                                <button type="submit" class="btn btn-primary"   routerLink="/main/buynow">Buy Now</button>
                            </div>
                    </div>
                    <div class="watch_lst">
                        <figure   routerLink="/main/cardetails">
                            <img src="/assets/images/car_3.jpg " alt="images" class="img-fluid">
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                        <div class="prc_btn">
                            <button type="submit" class="btn clr_btn"     routerLink="/main/cardetails">Bid Now</button>
                            <button type="submit" class="btn btn-primary"   routerLink="/main/buynow">Buy Now</button>
                        </div>    
                    </div>
                    <div class="watch_lst">
                        <figure>
                            <img src="/assets/images/car_2.jpg " alt="images" class="img-fluid">
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn"    routerLink="/main/cardetails">Bid Now</button>
                                <button type="submit" class="btn btn-primary"   routerLink="/main/buynow">Buy Now</button>
                            </div>
                    </div>

                    <div class="pagination_mn">
                        <ul class="">
                            <li><a class="page-link active" href="#">1</a></li>
                            <li><a class="page-link" href="#">2</a></li>
                            <li><a class="page-link" href="#">3</a></li>
                            <li><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul>
                    </div>
                </div>

            </div>

         </section>