<!-- <div class="modal fade auth_pup" id="forgetpassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content"> -->
<div class="modal-body">

    <div class="popu_mn">
        <div class="popu_lft">
            <figure class="text-center">
                <img src="/assets/images/auth/forget_psw.jpg " alt="Images" class="img-fluid">
            </figure>
        </div>
        <div class="popu_rgt">
            <div class="back_arr">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </div>
            <h2>Forgot Password</h2>
            <p class="sub_txt">Enter the Email associated with your account
                <span class="blk"> to reset your password.</span> </p>
            <form action="" class="frgt_psw">
                <div class="form-group">
                    <label for="email_fr">Email</label>
                    <input type="email" class="form-control" placeholder="Hanco@gmail.com" id="email_fr">
                </div>
                <div class="btn_commn">
                    <!-- <button type="submit" class="btn btn-primary" routerLink="../verification" data-toggle="modal" data-target="#verification">Next</button> -->
                    <a href="javascript:void(0)" class="btn btn-primary" (click)="verification()">Next</a>

                </div>
            </form>


        </div>


    </div>

</div>
<!-- </div>
        </div>
    </div>  -->