<div class="modal-body">
    <div class="popu_mn popu_mn_cmn">
        <div class="popu_lft">
            <figure class="text-center">
                <img src="assets/images/auth/forget_psw.jpg " alt="Images" class="img-fluid">
            </figure>
        </div>
        <div class="popu_rgt popu_rgt_cmmn">
            <div class="  popu_rgt_inn ">
                <div class="back_arr">
                    <img src="assets/images/back_aow.svg " alt="Images" class="img-fluid">
                </div>
                <h2>Forgot Password</h2>
                <p class="sub_txt">Enter the {{phoneEmail!='email'?'Phone Number':'Email'}} associated with your account
                    <span class="blk"> to reset your password.</span> </p>
                <form [formGroup]="forgetForm" class="frgt_psw">
                    <div class="form-group" *ngIf="phoneEmail=='phone'">
                        <ngx-intl-tel-input cssClass="form-control" [preferredCountries]="preferredCountries" [enableAutoCountrySelect]="true" [enablePlaceholder]="true" [searchCountryFlag]="true" [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectFirstCountry]="false"
                            [selectedCountryISO]="CountryISO.SaudiArabia" [maxLength]="'15'" [phoneValidation]="true" [separateDialCode]="separateDialCode" [numberFormat]="PhoneNumberFormat.National" name="phoneNo" formControlName="phoneNo">
                        </ngx-intl-tel-input> <br>
                        <mat-error *ngIf="submitted && forgetForm.controls['phoneNo'].touched && forgetForm.controls['phoneNo'].invalid && !(forgetForm.controls['phoneNo'].hasError('required'))" class="text-danger d-inline-block pt-1">
                            phone No is Invalid
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="submitted  && forgetForm.controls['phoneNo'].hasError('required')">
                            Phone No is required
                        </mat-error>
                    </div>
                    <div class="form-group" *ngIf="phoneEmail=='email'">
                        <label for="email_fr">Email</label>
                        <input type="email" class="form-control" formControlName="email" placeholder="Hanco@gmail.com" id="email_fr">
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="submitted  && forgetForm.controls['email'].hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error class="text-danger d-inline-block pt-1" *ngIf="submitted  && forgetForm.controls['email'].hasError('pattern')">
                            Email is invalid
                        </mat-error>
                    </div>
                    <div class="btn_commn">
                        <!-- <button type="submit" class="btn btn-primary" routerLink="../verification" data-toggle="modal" data-target="#verification">Next</button> -->
                        <a href="javascript:void(0)" class="btn btn-primary" (click)="verification()">Next</a>
                        <p class="cnt-txt"><a href="javascipt:void(0)" (click)="changeStatus(phoneEmail=='email'?'phone':'email')">Continue With {{phoneEmail=='email'?'Phone number':'Email'}}</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>