<a href=""  rel=""   data-toggle="modal" data-target="#signin">  Sign Up</a> 
    <div class="modal fade auth_pup" id="signin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                        
                    <div class="popu_mn">
                        <div class="popu_lft">
                            <figure class="text-center">
                                <img src="/assets/images/auth/car_1.jpg " alt="Images" class="img-fluid">
                            </figure>
                         </div>
                        <div class="popu_rgt">
                            <h2>Welcome Back!</h2>
                            <p class="sub_txt"> Sign In to Continue</p>
                            <form action="">
                                <div class="form-group">
                                  <label for="email">Email</label>
                                  <input type="email" class="form-control" placeholder="Hanco@gmail.com" id="email">
                                </div> 
                                <div class="form-group sng_psw">
                                  <label for="pwd">Password:</label>
                                  <div class="psw_cls">
                                        <input type="password" class="form-control" placeholder="Password" id="pwd">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <div class="form-group chk_bx_mn">
                                    <label class="chk_box">Remember me
                                        <input type="checkbox" >
                                         <span class="checkmark"></span>
                                    </label>
                                    <label class="chk_box">
                                       <a href="#" rel="" routerLink="../forgotpassword"  data-toggle="modal" data-target="#forgetpassword">Forgot Password?</a>
                                    </label>

                                </div>
                                <div class="btn_commn">
                                       <button type="submit" class="btn btn-primary">Sign In</button>
                                       <p class="cnt-txt"><a href="#" >Continue With Phone number</a></p>
                                 </div>
                                
                                 <div class="sgn_wth">
                                    <p>Or Sign In With</p>
                                    <div class="d_flex">
                                        <figure>  <img src="/assets/images/auth/fb.png " alt="Images" class="img-fluid"></figure>
                                        <figure> <img src="/assets/images/auth/apple.png " alt="Images" class="img-fluid"></figure>
                                        <figure> <img src="/assets/images/auth/google.png " alt="Images" class="img-fluid"></figure>
                                    </div>
                                    
                                 </div>
                                 <div class="pop_sng_bt">
                                    <p> <a  href="" rel=""> Continue as a guest</a> </p> 
                                    <p> Don’t Have an Account?<a href=""  rel="" routerLink="../createaccount"  data-toggle="modal" data-target="#signup">  Sign Up</a> </p> 
                                </div>
                              </form>


                        </div>


                    </div>
                        
                </div>
            </div>
        </div>
    </div> 