<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
            <h1>Offer</h1>
        </div>
    </div>
</section>

<section class="mybd_sec">
    <div class="conta_iner">
        <div class="mybd_inner">

            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a [class]="bidSelected=='offer'?'nav-link active':'nav-link'" href="javaScript:Void(0)" (click)="bidType()" role="tab">Offer Request</a>
                </li>
                <li class="nav-item">
                    <a [class]="bidSelected=='group'?'nav-link active':'nav-link'" data-toggle="tab" href="#tabs-2" href="javaScript:Void(0)" (click)="getGroupBid()" role="tab">Group Request</a>
                </li>
                <li class="nav-item ml-3">
                    <a [class]="bidSelected=='buy'?'nav-link active':'nav-link'" data-toggle="tab" href="#tabs-3" role="tab">Buy  Request</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content mt-3">
                <div class="tab-pane active" *ngIf="bidSelected=='offer'" id="tabs-1" role="tabpanel">
                    <div class="mybd_flx" *ngFor="let item of single" routerLink="/main/biddingupdate/single/{{item?.vehicleId[0]._id}}">
                        <div class="mybd_flx_inn">
                            <figure>
                                <img [src]="item?.vehicleId[0]?.vehicleImage[0] ||assets/images/car_8.png" alt="images" class="img-fluid">
                            </figure>
                            <div class="buy_txt">
                                <h3>{{item?.vehicleId[0]?.name}}</h3>
                                <p class="buy_prs">${{item?.offerPrice}}</p>
                                <p>{{item?.vehicleId[0]?.createdAt | date:'mediumDate'}}</p>
                            </div>
                        </div>
                        <div class="btn_my_bd">
                            <a href="" routerLink="/main/cancelbid/1">{{item?.status}}</a>
                        </div>
                    </div>
                </div>
                <div *ngIf="bidSelected=='offer'">
                    <h3>Multiple Offer Request</h3>
                    <div class="mybd_flx" *ngFor="let item of multiple">
                        <div class="mybd_flx_inn">
                            <figure>
                                <img [src]="item?.vehicleId[0]?.vehicleImage[0] ||assets/images/car_8.png" alt="images" class="img-fluid">
                                <div class="numr_dds">+ {{item?.vehicleId?.length}}</div>
                            </figure>
                            <div class="buy_txt">
                                <h3>{{item?.vehicleId[0]?.name}}</h3>
                                <p class="buy_prs">${{item?.offerPrice}}</p>
                                <p>{{item?.vehicleId[0]?.createdAt | date:'mediumDate'}}</p>
                            </div>

                        </div>
                        <div class="btn_my_bd">
                            <a href="javaScript:void(0)" routerLink="/main/cancelbid/1">{{item?.status}}</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" *ngIf="bidSelected=='group'" id="tabs-2" role="tabpanel">
                    <div class="mybd_flx" *ngFor="let item of groupItem">
                        <div class="mybd_flx_inn">
                            <figure>
                                <img [src]="item?.groupVehicle[0]?.vehicleImage[0] ||assets/images/car_8.png" alt="images" class="img-fluid">
                            </figure>
                            <div class="buy_txt">
                                <h3>{{item?.groupVehicle[0]?.name}}</h3>
                                <p class="buy_prs">${{item?.offerPrice}}</p>
                                <p>{{item?.groupVehicle[0]?.createdAt | date:'mediumDate'}}</p>
                            </div>
                        </div>
                        <div class="btn_my_bd">
                            <a href="" routerLink="/main/cancelbid/1">{{item?.status}}</a>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active" *ngIf="bidSelected=='buy'" id="tabs-3" role="tabpanel">
                    <div class="mybd_flx" *ngFor="let item of single">
                        <div class="mybd_flx_inn">
                            <figure>
                                <img [src]="item?.vehicleId[0]?.vehicleImage[0] ||assets/images/car_8.png" alt="images" class="img-fluid">
                            </figure>
                            <div class="buy_txt">
                                <h3>{{item?.vehicleId[0]?.name}}</h3>
                                <p class="buy_prs">${{item?.offerPrice}}</p>
                                <p>{{item?.vehicleId[0]?.createdAt | date:'mediumDate'}}</p>
                            </div>
                        </div>
                        <div class="btn_my_bd">
                            <a href="" routerLink="/main/cancelbid/1">Pending</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>