<!-- Education -->

<div class="pop_up ">
    <div class="profile_setup">
        <div class=" profile_heading ym_gtstr_skp">
            <div></div>
            <h4>Profile Setup</h4>
            <button type="button" (click)="Close()" class="close">X</button>
        </div>
        <h5 class="academic">Academic Experience</h5>
        <!-- <ng-container *ngIf="userData && userData['EducationDetails'] && userData['EducationDetails'].length">

            <div class="acdmic" *ngFor="let data of userData['EducationDetails'];let i = index">
                <div class="acdmic_left">
                    <h4><span></span>{{data['education_id']['education']}}</h4>
                    <p>{{data['dateStarted'] |date:'y' }} - {{data['EndDate'] | date:'y' }}.{{data['fieldofstudy']}}</p>
                    <p>{{data['college']}}</p>
                </div>

                <div class="acdmic_ryt">
                    <i class="fas fa-pen" (click)="onEdit(data, i)"></i>
                    <i class="fas fa-trash" (click)="onDelete(data, i)"></i>
                </div>
            </div>
        </ng-container> -->

        <form [formGroup]="form">
            <div formArrayName="EducationDetails">
                <div *ngFor="let section of getEducation(form); let i = index">
                    <div class="acdmic_detail">
                        <ng-container *ngIf="section.value.fieldofstudy">
                        <div class="acdmic">
                                <div class="acdmic_left">
                                    <h4><span></span>{{section?.value?.fieldofstudy}}</h4>
                                    <p>{{section?.value?.college}}</p>
                                    <p>{{section?.value?.dateStarted | date}} - {{ section.value.dateEnd ? section.value.dateEnd : 'Presently Working'}}</p>
                                </div>
                                
                                <div class="acdmic_ryt" >
                                    <a  data-toggle="collapse" href="#collapseExample{{i}}"><i class="fas fa-pen"></i></a>
                                    <i class="fas fa-trash"></i>
                                </div>
                            </div>                            
                            <!-- <h4>Roles & Responsibilities:</h4> -->
                            <!-- <p>- {{section?.value?.responsibilities}} </p> -->
                            <p></p>
                        </ng-container> 
                    </div>
                    <div id="collapseExample{{i}}" [formGroupName]="i" [ngClass]="section.valid ? 'collapse' : ''">
                        <div class="continue_logn" *ngIf="educationList && educationList.length>0">
                            <select id="inputState" class="form_control" formControlName="education_id">
                                <option selected *ngFor="let list of educationList" [value]="list._id"  [disabled]="list['status'] ==false"> 
                                    {{list['education']}}</option>
                            </select>
                        </div>
                        <div class="continue_logn">
                            <input type="text" placeholder="Field of Study " class="form_control"
                                formControlName="fieldofstudy" />
                        </div>
                        <div class="continue_logn">
                            <input type="text" placeholder="College/University " class="form_control"
                                formControlName="college" />
                        </div>
                        <div class="educate">
                            <div class="continue_logn">
                                <input type="date" class="form_control" placeholder="Start Date"
                                    formControlName="dateStarted">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                            <div class="continue_logn">
                                <input type="date" class="form_control" placeholder="End Date"
                                    formControlName="EndDate">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="acdmic_ryt">
                            <i class="fas fa-pen" (click)="onEdit(data, i)"></i>
                            <i class="fas fa-trash" (click)="onDelete(data, i)"></i>
                        </div> -->
                    </div>
                </div>
            </div>
            <button class="btn addmore_btn w-100 p-3" (click)="onSubmit('add')">Add More</button>

            <button class="btn btn-secondary w-100 p-3" (click)="onSubmit('next')">Next</button>
        </form>

    </div>

</div>