<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
          <h1>buy now</h1>
         
        </div>
      </div>
  </section>
  <section class="buynow_sec">
    <div class="conta_iner">
        <div class="buynow_inn payment_inner">
         
          <div class="buynow_lft">
              <div class="pymnt_txt">
                <h2>Enter Details</h2>
                <p><a href="">Add new</a></p>
              </div>
              <div class="pymnt_methd">
                <figure>
                  <img src="/assets/images/paypal.png " alt="images" class="img-fluid">
              </figure>
              <div class="pyt_mthd_inn">
                <h4>Paypal</h4>
                <p>564 *** **** **784</p>
                
              </div>
                <div class="pyt_mthd_rdo">
                  <mat-radio-button value="1"></mat-radio-button> 
                </div>
              </div>
              <div class="pymnt_methd active">
                <figure>
                  <img src="/assets/images/mastercard.png " alt="images" class="img-fluid">
              </figure>
              <div class="pyt_mthd_inn">
                <h4>Credit card</h4>
                <p>564 *** **** **784</p>
                
              </div>
                <div class="pyt_mthd_rdo ">
                  <mat-radio-button value="2"></mat-radio-button>  
                </div>
              </div>
              <div class="pymnt_methd">
                <figure>
                  <img src="/assets/images/visa.png " alt="images" class="img-fluid">
              </figure>
              <div class="pyt_mthd_inn">
                <h4>Debit card</h4>
                <p>564 *** **** **784</p>
                
              </div>
                <div class="pyt_mthd_rdo">
                  <mat-radio-button value="3"></mat-radio-button> 
                </div>
              </div>
              <div class="adm_acc">
                <h2>Admin's Account</h2>
                <div class="pyt_acc_inn">
                  <figure>
                    <img src="/assets/images/noun_Bank.png " alt="images" class="img-fluid">
                </figure>
                  <h2>Credit card</h2>
                  
                </div>
                <ul class="invoc_lst">
                  
                  <li>Account holder name<span>My Hanco Pvt. Ltd.</span></li>
                  <li>Account Number<span>1256289898785662</span></li>
              </ul>
              <div class="ins_lst">
              <h2>Payment Instructions</h2>
              <ol>
                <li>Deposit the amount on the above given bank account using any means of transfer.</li>
                <li>Upload the transaction proof.</li>
              </ol>
              
                </div>
              </div>
          </div>
          <div class="buynow_rgt">
            <div class="buy_flx">
                <figure>
                    <img src="/assets/images/car_5.jpg " alt="images" class="img-fluid">
                </figure>
                <div class="buy_txt">
                    <h3>BMW 2018 Model</h3>
                    <p>It is a long established fact that a reader will be 
                        distracted by the readable content of a page when looking at its layout. </p>
                        <p class="buy_prs">$1500.00</p>
                </div>
                </div>
                <div class="ord_txt">
                    <h2>Order #456123</h2>
                     <p>July 24, 2020, 9:58 AM</p>
               </div>
                <ul class="invoc_lst">
                    <li>Invoice no:<span>APT/21-22/09/200</span></li>
                    <li>Customer Name:<span>Andy Wilson</span></li>
                </ul>
                <ul class="invoc_lst">
                    <h3>Total Price</h3>
                    <li>Tax<span>$10.00</span></li>
                    <li>Delivery Charges<span>$10.00</span></li>
                    <li>Service Charge<span>$10.00</span></li>
                </ul>
                <div class="ttl_prc">
                    <p  class="ttl_txt">$15.50</p>
                    <p>Total Price</p>
                </div>
                <div class="upld_btn">
                  <button class="btn upld_pop"  routerLink="" >Upload POP</button>
                    <button  class="btn btn-primary"    data-toggle="modal" data-target="#order_con">Pay Now</button>
                </div>
            </div>  



           
          </div>
     
      </div>
  </section>

  <div class="modal fade pay_meth_pup" id="order_con" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                    
                <div class="popu_pay">
                    <div class="pop_paty_lft">
                        <figure class="text-center">
                            <img src="/assets/images/check_img.png " alt="Images" class="img-fluid">
                        </figure>
                        <h2>Order Confirmed</h2>
                        <p>Payment is the transfer of money services <span class="blk_span">in exchange product or payments</span></p>
                        <div class="upld_btn">
                          <button class="btn upld_pop"  routerLink="/main/orderreceipt"  data-dismiss="modal" aria-label="Close">Get your Receipt</button>
                            <button  class="btn btn-primary" routerLink="/main/home"   data-dismiss="modal" aria-label="Close" >Back to home</button>
                        </div>
                      </div>
                    


                </div>
                    
            </div>
        </div>
    </div>
</div> 
  