<!-- Reset pass -->
<div class="pop_up ">
    <div class="ym_gtstr_skp">
      <button type="button" (click)="Close()" class="close">×</button>
    </div>
    <div class="prep_login  ">
      <div class="ym_gtstr_btm forget_pass">
        <h4>Reset Password</h4>
        <figure class="mb-4">
          <img src="assets/images/forget.png" alt="" />
        </figure>
        <div class="ym_gtstr_imgs">
          <div class="continue_logn">
            <input type="text" placeholder="Enter New Password" class="form_control" />
          </div>
          <div class="continue_logn">
            <input type="text" placeholder="Confirm New Password" class="form_control" />
          </div>
  
          <button class="btn btn-secondary width-100">Submit</button>
        </div>
      </div>
    </div>
  </div>