<section class="listing_sec">
    <div class="conta_iner">
        <div class="listing_inner">
          <h1>watchlist</h1>
         
        </div>
      </div>
  </section>
  

  <section class="logo_sec comn_pd car_lst_sec">
    <div class="conta_iner">

                <div class="d_flex logo_inner watch_inn">
                    <div class="watch_lst">
                        <figure>
                            <img src="/assets/images/car_2.jpg " alt="images" class="img-fluid">
                            <div class="heart_ic"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn" >Offer Now</button>
                                <button type="submit" class="btn btn-primary" >Buy Now</button>
                            </div>
                    </div>
                    <div class="watch_lst">
                        <figure>
                            <img src="/assets/images/car_1.jpg " alt="images" class="img-fluid">
                            <div class="heart_ic"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn" >Offer Now</button>
                                <button type="submit" class="btn btn-primary" >Buy Now</button>
                            </div>
                    </div>
                    <div class="watch_lst">
                        <figure>
                            <img src="/assets/images/car_3.jpg " alt="images" class="img-fluid">
                            <div class="heart_ic"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn" >Offer Now</button>
                                <button type="submit" class="btn btn-primary" >Buy Now</button>
                            </div>    
                      </div>
                      <div class="watch_lst">
                        <figure>
                            <img src="/assets/images/car_1.jpg " alt="images" class="img-fluid">
                            <div class="heart_ic"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn" >Offer Now</button>
                                <button type="submit" class="btn btn-primary" >Buy Now</button>
                            </div>
                    </div>
                    <div class="watch_lst">
                        <figure>
                            <img src="/assets/images/car_3.jpg " alt="images" class="img-fluid">
                            <div class="heart_ic"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                        <div class="prc_btn">
                            <button type="submit" class="btn clr_btn" >Offer Now</button>
                            <button type="submit" class="btn btn-primary" >Buy Now</button>
                        </div>    
                    </div>
                    <div class="watch_lst">
                        <figure>
                            <img src="/assets/images/car_2.jpg " alt="images" class="img-fluid">
                            <div class="heart_ic"><i class="fa fa-heart" aria-hidden="true"></i></div>
                        </figure>
                        <div class="prc_lst">
                               <h3>Range Rover 2018 Model</h3>
                              <h4>$1500.00</h4>
                        </div>
                            <div class="prc_btn">
                                <button type="submit" class="btn clr_btn" >Offer Now</button>
                                <button type="submit" class="btn btn-primary" >Buy Now</button>
                            </div>
                    </div>

                    <div class="pagination_mn">
                        <ul class="">
                            <li><a class="page-link active" href="#">1</a></li>
                            <li><a class="page-link" href="#">2</a></li>
                            <li><a class="page-link" href="#">3</a></li>
                            <li><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
                          </ul>
                    </div>
                </div>

            </div>

         </section>